//Widget
.widget{
  background: $light-blue;
  margin-bottom: $xl-size;
  border: none;
  border-radius: 0.5rem;
}

//Widget-message
.widget-message {
  color: $off-white;
  padding: $l-size;
  text-align: center;
  margin: 0;
  border-bottom: 0.1rem solid lighten($light-blue, 10%);
}


//Widget Header
.widget-header{
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 0.5rem;
}

.widget-header__title{
  margin: 0;
}